body {
    background-color: rgb(170, 170, 170);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#toDoApp {
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
}

input {
    width: 15em;
    height: 2em;
    border: none;
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.task01 {
    width: 364px;
    height: 50px;
    background-color: white;
    position: relative;
    margin-bottom: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.far {
    font-size: 25px;
    cursor: pointer;
}

.isHidden {
    display: none !important;
}