body {
    background-image: url(Bilder07/bg.png);
}

.wrapper {
    background-image: url(Bilder07/wrapperbg.png);
    position:relative;
    margin:0 auto;
    top:150px;
    height:400px;
    width:600px;
}

.band {
    position:absolute;
    right:0px;
    bottom:0px;
    z-index:10;
 }

 .youtube {
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -255px;
    margin-top:-132.5px;
    z-index: 0;
 }